:root {
  --gestionoeuvresnumeriques-yellow-color: #fecc00;
  --gestionoeuvresnumeriques-black-color: black;
}

body{
	background-color: #262626;
}

.container {
	width: 100%;
}

h1.media-heading, h2{
	color: var(--gestionoeuvresnumeriques-yellow-color);
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

h3, dl, p {
	color : white;
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}
#adminPage, #menu, #selectMovie, #inscription, #listBook, #addMovie, #shoppingBasket {
	width: 75%;
	margin-left: auto;
  	margin-right: auto;
}

form {
	width: 80%;
}

.gallery_product
{
    margin-bottom: 30px;
}

nav.navbar.navbar-default{
	background-color : var(--gestionoeuvresnumeriques-black-color);
	width: 100%;
}

nav.navbar.navbar-default a{
	color : white;
	font-weight: bold; 
}

nav.navbar.navbar-default li.active{
	color : white;
	font-weight: bold; 
}

.navbar-nav>li.active{
	background-color : var(--gestionoeuvresnumeriques-yellow-color);
}

li.active{
	background-color : var(--gestionoeuvresnumeriques-yellow-color);
}

form label{
	color : var(--gestionoeuvresnumeriques-yellow-color);
}

#adminPage .admin a {
	color: var(--gestionoeuvresnumeriques-yellow-color);
}

#adminPage thead {
	color: var(--gestionoeuvresnumeriques-yellow-color);
}

#adminPage .tab-content, tbody {
	color: white;
}

#adminPage input{
	color: black;
}

#shoppingBasket thead{
	color : var(--gestionoeuvresnumeriques-yellow-color);
}

#addDataAdmin {
	width: 100%;
}