body{
	background-color: black;
}
h1, h2, h3, dl, p {
	color : white;
}

.gallery_product
{
    margin-bottom: 30px;
}

nav.navbar.navbar-default{
	background-color : #fecc00;
}

.navbar-nav>li.active{
	background-color : #fecc00;
}

li.active{
	background-color : #fecc00;
}

form label{
	color : #fecc00;
}