<div ng-controller="adminController" id="addDataAdmin">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Ajout d'un(e) {{subject}}</h4>
  </div>
  
  <div class="modal-body">
    <form name="addDataForm" class="well form-horizontal">
  		<fieldset>
    	  <div class="form-group">
    	    <label for="exampleInputEmail1" class="col-sm-4 control-label">Titre</label>
    	    <div class="col-sm-4">
    	    	<div class="input-group">
    			    <span class="input-group-addon"><i class="glyphicon glyphicon-film"></i></span>
    			    <input type="text" class="form-control" id="name" placeholder="Entrer le nom du {{subject}}" ng-model="$dataAdmin.name" required>
    			    <div class="has-error" ng-show="addDataForm.$dirty">
	                <span ng-show="addDataForm.name.$error.required">This is a required field</span>
              </div>
            </div>
          </div>
    	  </div>
      </fieldset>
    </form>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">Close</button>
    <button type="button" class="btn btn-primary" ng-click="saveDataAdmin($dataAdmin, subject)">Save changes</button>
  </div>
</div>