<div class="container">
    <div ng-include = "'partials/header.view.html'"></div>
</div>

<div>
	<h2>Choisir livre :</h2>
	<select ng-options="livre.titre for livre in listeLivres" ng-model="selected">
	</select>
	<input type="submit" ng-click="choisirLivre(selected)" ><br>

	
	<br><h2>Livre selectionn&eacute;es : </h2><br>

	<div class="row">
	  <div class="col-md-5">
	  	<img src={{decode(selected.image)}} class="img-responsive" alt="Responsive image">
	  </div>
	  	<div class="col-md-7">
	  		<button class="btn btn-success" type="submit" ng-click="toggle()">Modifier</button>
	  		<br><br>
	  		<dl>
			  <dt>Date de parution</dt>
			  	<dd>{{selected.dateDeParution}}</dd><br>
			  	<input type="text" ng-model="selected.dateDeParution" ng-hide="change"><br>
			  <dt>Titre</dt>
			  	<dd>{{selected.titre}}</dd><br>
			  	<input type="text" ng-model="selected.titre" ng-hide="change"><br>
			  <dt>R&eacute;sum&eacute;</dt>
			  	<dd>{{selected.resume}}</dd><br>
			  	<input type="text" ng-model="selected.resume" ng-hide="change"><br>
			  <dt>Nombre de page</dt>
	  			<dd>{{selected.nbreDePages}}</dd>
	  			<input type="text" ng-model="selected.nbreDePages" ng-hide="change"><br>
			</dl>
			<button class="btn btn-primary" type="submit" ng-click="modifierFilm(selected)" ng-hide="change">Sauvegarder les changements</button>
	  </div>
	</div>
</div>

<div class="container">
    <div ng-include = "'partials/footer.html'"></div>
</div>