<div class="media">
  <div class="media-left media-middle">
    <a href="#">
      <img class="media-object" src="ressources/play-button.png" alt="Responsive image">
    </a>
  </div>
  <div class="media-body">
  <br>
    <h1 class="media-heading">OeuvresMIAGE</h1>
  </div>
</div>
<br>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Accueil</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#/select-Book">Livres <span class="sr-only">(current)</span></a></li>
        <li><a href="#/select-Film">Films</a></li>
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" ng-model="search.oeuvres" placeholder="Recherche titre ou auteur">
        </div>
        <button type="submit" class="btn btn-default" ng-click="searchData(search)">Submit</button>
      </form>
      <div ng-if="isAdminLoggedIn()">
        <ul class="nav navbar-nav main-nav  clear navbar-right ">
          <li><a href="#/admin">Administration</a></li>
        </ul>
      </div>
      <div ng-if="isUserLoggedIn()">
        <ul class="nav navbar-nav navbar-right">
          <li>
             <a href="#/panier">
              <span class="glyphicon glyphicon-download-alt" aria-hidden="true"> Panier
              </span></a>
          </li>
          <li><a href="" ng-click="logout()">D&eacute;connection</a></li>
        </div>
        </ul>
        <div ng-if="!isUserLoggedIn()">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#/login">Inscription / Connexion</a></li>
          </ul>
        </div>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>