<div class="container">
    <div ng-include = "'partials/header.view.html'"></div>
</div>
<div>
	<div class="row" id="inscription">
	  <div class="col-xs-6 col-md-4"></div>
	  <div class="col-xs-6 col-md-4">
	  	<form name="inscriptionForm">
		  <div class="form-group">
		    <label for="exampleInputEmail1">Login</label>
		    <input type="text" class="form-control" id="nameUser" placeholder="Entrer votre identifiant" ng-model="user.login" required ng-minlength="3">
		    	<div class="has-error" ng-show="inscriptionForm.$dirty">
                  <span ng-show="inscriptionForm.nameUser.$error.required">This is a required field</span>
                  <span ng-show="inscriptionForm.nameUser.$error.minlength">Minimum length required is 3</span>
                  <span ng-show="inscriptionForm.nameUser.$invalid">This field is invalid </span>
              </div>
		  </div>
		  <div class="form-group">
		    <label for="exampleInputPassword1">Password</label>
		    <input type="password" class="form-control" id="password" placeholder="Password" ng-model="user.password">
		    	<div class="has-error" ng-show="inscriptionForm.$dirty">
                  <span ng-show="inscriptionForm.uname.$error.required">This is a required field</span>
                  <span ng-show="inscriptionForm.uname.$error.minlength">Minimum length required is 3</span>
                  <span ng-show="inscriptionForm.uname.$invalid">This field is invalid </span>
              	</div>
		  </div>
		  <div class="form-group">
		    <label for="exampleInputPassword1">Password</label>
		    <input type="password" class="form-control" id="checkPassword" placeholder="Password" ng-model="user.checkPassword">
		  </div>
		  <button type="submit" ng-click="createUser(user)" class="btn btn-default">Envoyer</button>
		</form>
	  </div>
	  <div class="col-xs-6 col-md-4"></div>
	</div>
</div>