<div class="container">
    <div ng-include = "'partials/header.view.html'"></div>
</div>
<div>
	<h2>Choisir film :</h2>
	<select ng-options="film.titre for film in listeFilms" ng-model="selected">
	</select>
	<input type="submit" ng-click="choisirFilm(selected)" ><br><br>
	
	<h3>Liste film :</h3><br>
	{{listeFilms | json}}
	<br>
	<br><h2>Films s&eacute;lectionn&eacute;es : </h2><br>
	<dl>
	  <dt>Date de parution</dt>
	  	<dd>{{selected.dateDeParution}}</dd>
	  <dt>Titre</dt>
	  	<dd>{{selected.titre}}</dd>
	  <dt>R&eacute;sum&eacute;</dt>
	  	<dd>{{selected.resume}}</dd>
	  <dt>dur&eacute;e</dt>
	  	<dd>{{selected.duree}}</dd>
	</dl>
</div>

<!-- Clé API themoviedb : 'cec47d35f2ffc64da009727fe1741a6d' -->