<div class="container">
    <div ng-include = "'partials/header.view.html'"></div>
</div>
<div>
	<h2>Choisir livre :</h2>
	<select ng-options="livre.titre for livre in listeLivres" ng-model="selected">
	</select>
	<input type="submit" ng-click="choisirLivre(selected)" ><br>
	
	<h3>Liste livres :</h3><br>
	{{listeLivres | json}}
	
	<br><h2>Livre selectionnees : </h2><br>

	<div class="row">
	  <div class="col-md-5">
	  	<img src={{selected.image}} class="img-responsive" alt="Responsive image">
	  </div>
	  	<div class="col-md-7">
	  		<dl>
			  <dt>Date de parution</dt>
			  	<dd>{{selected.dateDeParution}}</dd><br>
			  <dt>Titre</dt>
			  	<dd>{{selected.titre}}</dd><br>
			  <dt>R&eacute;sum&eacute;</dt>
			  	<dd>{{selected.resume}}</dd><br>
			  <dt>Nombre de page</dt>
	  			<dd>{{selected.nbreDePages}}</dd>
			</dl>
	  </div>
	</div>
</div>

<!-- Clé API themoviedb : 'cec47d35f2ffc64da009727fe1741a6d' -->