<div class="container">
    <div ng-include = "'partials/header.view.html'"></div>
</div>
<div id="shoppingBasket">
	<div uib-alert ng-repeat="alert in alerts" ng-class="alert.type" close="closeAlert($index)" dismiss-on-timeout="5000">{{alert.msg}}</div>
	<table class="table">
	  <thead>
	  	<tr>
		  <td>Numero</td>
		  <td>Type</td>
		  <td>Article</td>
		  <td>Actions</td>
		</tr>
	  </thead>
	  <tbody ng-repeat="commande in listCommande" id="exportthis">
  		<tr>
			  <td>{{commande.id}}</td>
			  <td>Type</td>
			  <td >{{commande.oeuvres.titre}}</td>
			  <td><button class="btn btn-default" ng-model="button" type="submit" ng-click="createPDF(oeuvre, commande.id)">{{button}}</button></td>
		</tr>
	  </tbody>
	</table>
</div>